* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Cabeçalho do site */
header {
    background-color: #333;
    padding: 20px;
    color: white;
    text-align: center;
}

/* Estrutura principal */
.dashboard-container {
    display: flex;
    min-height: 100vh;
    width: 100%;
}

aside {
    width: 250px;
    background: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

aside h2 {
    color: #ffffff;
    transition: 0.3s ease;
}

aside h2:hover {
    background-color: #003366;
}

aside nav ul {
    list-style-type: none;
    padding: 0;
}

aside nav ul li {
    margin: 15px 0;
}

aside nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 0.3s ease;
}

aside nav ul li a:hover {
    padding: 10px;
    background-color: #000000;
}

/* Conteúdo principal */
main {
    flex-grow: 1;
    padding: 20px;
}

.content-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner {
    width: 100%;
    margin: 20px 0;
}

.banner img {
    width: 100%;
    height: auto;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.curriculum, .grades {
    background-color: #757575;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 5px 0;
}

.curriculum h2, .grades h2 {
    text-align: center;
    color: #003366;
    margin-bottom: 20px;
}

.curriculum ul, .grades table {
    width: 100%;
}

.curriculum ul {
    list-style-type: none;
    padding: 0;
}

.curriculum ul li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.grades table {
    border-collapse: collapse;
}

.grades table th, .grades table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

.grades table th {
    background-color: #003366;
    color: white;
}

input {
    width: 60px;
    padding: 5px;
    text-align: center;
    margin: 5px;
}

button {
    padding: 10px;
    background-color: #003366;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #005999;
}

.buttons {
    display: flex;
    gap: 10px;
}

img {
    max-width: 1720px; /* Largura máxima */
    max-height: 700px; /* Altura máxima */
    width: 100%; /* Ocupa 100% do contêiner */
    height: 600px; /* Mantém a proporção correta */
    object-fit: cover; /* Cobre o contêiner sem distorção */
}

/* Rodapé */
footer {
    text-align: center;
    padding: 10px;
    background-color: #003366;
    color: #fff;
    width: 100%;
    position: relative;
}
